backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "products"
    label: "Products"
    folder: "content/products"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Product Name", name: "name", widget: "string" }
      - { label: "Retail Price", name: "retail", widget: "number" }
      - { label: "Wholesale Price", name: "wholesale", widget: "number" }
      - { label: "Product Image", name: "image", widget: "image" }
      - { label: "In Stock", name: "instock", widget: "boolean", default: true }
